<h2><span class="blue">Enter a Zip Code</span></h2>
<blockquote>Enter a United States Zip Code to add a city to the list.</blockquote>
<p>
  <%= render 'form' %>

  <%= link_to 'Back', locations_path %>
</p>